name: Extract image (Incremental OTA)

on:
    workflow_dispatch:
        inputs:
            baseversion:
                description: 'Base version'
                required: true
                type: string
            fileurl:
                description: 'link of full OxygenOS/ColorOS file'
                required: true
                type: string

env:
    GH_TOKEN: ${{ github.token }}

jobs:
    extracting-boot:
        runs-on: ubuntu-latest
        outputs:
          id: ota-link
        steps:
            - name: Checkout Repository
              uses: actions/checkout@main
              
            - name: Checkout Base Version 
              uses: robinraju/release-downloader@v1
              with:
                repository: 'snowwolf725/OnePlus12-fw-repos'
                tag: "${{ github.event.inputs.baseversion }}"
                fileName: '*.zip'
                
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                   python-version: '3.13'

            - name: Setup environment
              run: |
                sudo apt-get install zip unzip git
                
            - name: Setup Base version rom
              run: |
                unzip boot.zip
                unzip init_boot.zip
                unzip recovery.zip
                mkdir base
                mkdir new
                mv *.img base

            - name: Setup OTA Extractor 
              run: |
                git clone https://github.com/LineageOS/android_prebuilts_extract-tools.git

            - name: Download  Incremental OTA
              run: |
                wget -q --show-progress -O ota.zip "${{ github.event.inputs.fileurl }}"
                                         
            - name: Extracting OTA
              run: |
                 ls
                 unzip ota.zip
                 android_prebuilts_extract-tools/linux-x86/bin/ota_extractor -input_dir base -output_dir new -partitions boot,init_boot,recovery -payload payload.bin
                 mv new/*.img .
                 zip boot.zip boot.img
                 zip init_boot.zip init_boot.img
                 zip recovery.zip recovery.img
                                                             
            - name: Creating release
              run: |
                TAG_NAME=$(grep "product_name=" metadata | cut -d = -f 2)
                REL_NAME=$(grep "version_name=" metadata | sed 's/^[^=]*=//')
                gh release create $REL_NAME --title $(echo $REL_NAME) --notes "" boot.zip init_boot.zip recovery.zip 
